.container{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.leftBlur{
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0;
}
.rightBlur{
    width: 32rem;
    height: 23rem;
    right: 0;
    top: 10rem;
}

@media screen and (max-width:7698px) {
    .plans{
        flex-direction: column;
    }
}