.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmenu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.navmenu>li:hover{
    color: var(--orange);
    cursor: pointer;
}