.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h2 {
    color: var(--orange);
    font-weight: bold;
}

.navmenu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.navmenu>li:hover {
    color: var(--orange);
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .header>:nth-child(2){
        position: fixed;
        z-index: 99;
        right: 2rem;
        top: 2rem;
        /* margin-top: 20rem; */
    }    
    .navmenu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}