.container {
    position: relative;
}

.container>hr {
    border: 1px solid var(--lightgray);
}

.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.socialLinks {
    display: flex;
    gap: 4rem;
}

.socialLinks>img {
    width: 2rem;
    height: 2rem;
}

.leftBlur {
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    background: red;
    filter: blur(200px);
}

.rightBlur {
    bottom: 0;
    left: 15%;
    width: 26rem;
    height: 12rem;
    background: rgb(255, 155, 0);
    filter: blur(200px);
}